:root {
    background: #1A1A2E;
    --color: #FFFFFF;
    --primary-color: #0F3460;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html {
    scroll-behavior: smooth;
}

/* Header Styles */
header {

    background-color: rgb(83, 83, 83);
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.welcome-text{
    display: flex;
    align-items: center;
}
header h1 {
    font-size: 1.2rem;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
    background: var(--background);
    color: var(--color);
    letter-spacing: 1px;
    transition: background 0.2s ease;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    overflow: hidden;
}


a {
    text-decoration: none;
    color: var(--color);
}

h1 {
    font-size: 2.2rem;
}
header img {
    max-width: 125px;
    margin-top: 10px;
}

/* Login Form Styles */
.login-box{
 margin-top: 4em;
}
.login-container {
    width: 300px;
    margin: 0 auto;
    
    padding: 20px;
    /* border: 0.1em soli; */
    border-radius: 1em;
}

.container {
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -59px;
    
}

.login-container {
    position: relative;
    width: 22.2rem;
}
.form-container {
    background: rgba(255, 255, 255, 0.1); /* Adjust the alpha value for the desired transparency */
    border: 1px solid hsla(0, 0%, 65%, 0.158); /* Keep the border if needed */
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2); /* Keep the box shadow if needed */
    border-radius: 10px; /* Keep the border-radius if needed */
    z-index: 99; /* Keep the z-index if needed */
    padding: 2rem; /* Keep the padding if needed */
    -webkit-border-radius: 10px; /* Keep the border-radius for specific browsers */
    -moz-border-radius: 10px; /* Keep the border-radius for specific browsers */
    -ms-border-radius: 10px; /* Keep the border-radius for specific browsers */
    -o-border-radius: 10px; /* Keep the border-radius for specific browsers */
}



.login-container form input {
    display: block;
    padding: 14.5px;
    width: 90%;
    margin: 2rem 0;
    color: var(--color);
    outline: none;
    background-color: #9191911f;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-right: 30px;
}

.login-container form input:focus {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    animation: wobble 0.3s ease-in;
    -webkit-animation: wobble 0.3s ease-in;
}

.login-container form button {
    background-color: var(--primary-color);
    color: var(--color);
    display: block;
    padding: 12px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 18.98rem;

    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.1s ease-in-out;

    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.login-container form button:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.circle {
    width: 8rem;
    height: 8rem;
    background: var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
}

.illustration {
    position: absolute;
    top: -14%;
    right: 20px;
    width: 80%;
}

.circle-one {
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-45%, -45%);
    -webkit-transform: translate(-45%, -45%);
    -moz-transform: translate(-45%, -45%);
    -ms-transform: translate(-45%, -45%);
    -o-transform: translate(-45%, -45%);
}

.circle-two {
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: translate(45%, 45%);
    -webkit-transform: translate(45%, 45%);
    -moz-transform: translate(45%, 45%);
    -ms-transform: translate(45%, 45%);
    -o-transform: translate(45%, 45%);
}

.theme-btn-container {
    position: absolute;
    left: 0;
    bottom: 2rem;
}

.theme-btn {
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.theme-btn:hover {
    width: 40px !important;
}


/* Login Container Responsive */
@media only screen and (max-width: 700px) {
    .login-container {
        width: 100%; 
        max-width: 300px; 
        margin: 0 auto;
        padding: 20px;
    }

    .login-container form button {
        width: 100%;
        margin-left:10px ; 
    }

    .illustration {
        display: none; 
    }

}