
*{
    margin: 0;
    padding: 0;
}
/* Header Styles */
header {

    background-color: rgb(83, 83, 83);
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.welcome-text{
    display: flex;
    align-items: center;
}
header h1 {
    font-size: 1.2rem;
    margin: 0;
}

header img {
    max-width: 125px;
    margin-top: 10px;
}

/* Login Form Styles */
.login-box{
 margin-top: 4em;
 
}
.login-container {
    width: 300px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
   border: 0.1em solid black;
border-radius: 1em;
}

.login-container h1 {
    text-align: center;
    font-size: 20px;
}

.login-container label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.login-container button {
    width: 100%;
    padding: 10px;
   background-color: rgb(83, 83, 83);
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.login-container button:hover {
    background: black;
}
