/* Add specific styling for the student dashboard */

*{
    padding:0;
    margin:0;
}
header {
 background-color: rgb(83, 83, 83);
    color: #fff;
    text-align: center;
    padding: 2rem;
}
#logout-button{
padding: 1em 1em;
}
main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 14em;
}

.dashboard-section {
    width: 30%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    background-color: #f9f9f9;
    margin: 10px;
    text-align: center;
}

.dashboard-section h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

footer {
    background-color: rgb(83, 83, 83);
    color: #fff;
    text-align: center;
    padding: 2em;
}
