/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color:rgb(83, 83, 83);
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 24px;
}
#logout-button{
    padding: 1em 1em;
    }
/* Style the main content */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 8em;
}

/* Style dashboard sections */
.dashboard-section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dashboard-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Style the footer */
footer {
    text-align: center;
    padding: 2em;
    background-color:rgb(83, 83, 83);
    color: #fff;
    font-size: 14px;
}
